stages:
  - build
  - deploy

workflow:
  rules:
    # Only run for docs tags
    - if: $CI_COMMIT_TAG =~ /^docs-v.+$/

# Build docs Docker image
build_docs:
  stage: build
  image: docker:27
  variables:
    DOCKER_HOST: unix:///var/run/docker.sock
  script:
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" "$CI_REGISTRY"
    - |
      echo "Building docs image ($CI_COMMIT_TAG)..."
      docker build -t "$CI_REGISTRY_IMAGE:$CI_COMMIT_TAG" -t "$CI_REGISTRY_IMAGE:latest" packages/docs/
      docker push --all-tags "$CI_REGISTRY_IMAGE"

# Deploy to server
deploy_docs:
  stage: deploy
  image: alpine:latest
  needs: [build_docs]
  before_script:
    - "which ssh-agent || (apk add --update openssh-client)"
    - eval $(ssh-agent -s)
    - echo "$SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add -
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
    - ssh-keyscan $SERVER_IP >> ~/.ssh/known_hosts
    - chmod 644 ~/.ssh/known_hosts
  script:
    - |
      ssh $SERVER_USER@$SERVER_IP "
        set -e
        cd /opt/webapps/nuxt-freeform-docs/
        echo 'IMAGE_NAME_WITH_TAG=$CI_REGISTRY_IMAGE:latest' > .env
        docker login $CI_REGISTRY -u gitlab-ci-token -p $CI_JOB_TOKEN;
        docker compose pull
        docker compose down
        docker compose up -d
        docker image prune -f
      "
